.App {
  text-align: center;
}
.myDiv {
  display: flex;
  justify-content: center;
  width: 60%;
  margin: 4% auto;
  border: 5px solid rgb(202, 108, 108);
  border-radius: 5px;
  padding: 2rem;
}

.blue {
  background: rgb(82, 95, 5);
  display: inline-block;
  font-size: xx-large;
  color: rgb(203, 233, 107);
  margin: 3px;
  border-radius: 5px;
}
.pink {
  background: rgb(192, 8, 94);
  display: inline-block;
  font-size: xx-large;
  color: rgb(246, 176, 190);
  margin: 3px;
  border-radius: 5px;
}
