.App {
  text-align: center;
}
.myDiv {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 2% auto;
  border: 5px solid rgb(202, 108, 108);
  border-radius: 5px;
  padding: 2rem;
}

.blue {
  background: rgb(26 138 67);
  display: inline-block;
  font-size: x-large;
  color: rgb(57, 66, 27);
  margin: 3px;
  border-radius: 5px;
}
.pink {
  background: rgb(192, 8, 94);
  display: inline-block;
  font-size: x-large;
  color: rgb(246, 176, 190);
  margin: 3px;
  border-radius: 5px;
}
input{
  margin:3% 40%;
  height: 1.5rem;
  border-color: rgb(120, 153, 11);
  border-radius: 5px;
}
.Div{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 0.5rem;
}

