.App {
  text-align: center;
}
.myDiv {
  display: flex;
  justify-content: center;
  width: 60%;
  margin: 2% auto;
  border: 5px solid rgb(202, 108, 108);
  border-radius: 5px;
  padding: 2rem;
}

.blue {
  background: rgba(82, 95, 5, 0.103);
  display: inline-block;
  font-size: xx-large;
  color: rgb(203, 233, 107);
  margin: 3px;
  border-radius: 5px;
}
.pink {
  background: rgb(192, 8, 94);
  display: inline-block;
  font-size: xx-large;
  color: rgb(246, 176, 190);
  margin: 3px;
  border-radius: 5px;
}
input{
  margin:3% 40%;
  height: 1.5rem;
  border-color: rgb(156, 202, 5);
  border-radius: 5px;
}
